.modal-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  width: 100%;
  max-width: 60rem;
  height: auto;
  max-height: 100%;
  background-color: rgb(33, 33, 33);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 3rem 4rem rgba(0, 0, 0, 0.7);
  position: relative;
}

.close-button {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  font-size: 3rem;
  cursor: pointer;
}

.bookmarks-heading {
  font-family: "Bebas Neueu", sans-serif;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: lightskyblue;
  letter-spacing: 0.2rem;
  text-align: center;
}

.bookmarks-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.bookmark-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.bookmark-item h3 {
  font-size: 1.5rem;
  font-family: "Comfortaa", sans-serif;

  font-weight: 300;
}

.bookmark-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}

.delete-button {
  font-size: 2rem;
  color: aqua;
  cursor: pointer;
}
